/* кольори 

колір <h2> - #212121
колір <p> - #757575

колір webstudio та адреса - #000000
колір hero - #FFFFFF

колір hover - #2196F3

колір пошти та тел підвалу - rgba(255, 255, 255, 0.6); */

/*! display: inlin-block; */

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --hero-text-color: #ffffff;
    --webstudio-text-color: #000000;
    --accent-color: #2196F3;
    --background-color: #ffffff;
    --accent-background-color: #2196F3;
    --post-tel-color: rgba(255, 255, 255, 0.6);
    --background-button-color: #F5F4FA;
    --background-footer: #2F303A;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
}
address {
    font-style: normal;
}
img {
    display: block;
}

body {
    position: relative;
    width: 1600px;
    height: 1880px;

    font-family: "Roboto";

    background: khaki; 
    /* var(--background-color); */
    color: var(--title-text-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* ?--- контейнер --- */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* --- Header --- */
.top {

}

/* --- логотип --- */

.logo {

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--accent-color);
}
.logo-top {
    color: var(--webstudio-text-color);
}

.logo:hover, .logo:focus,
.logo-top:hover, .logo-top:focus
{
    color: var(--accent-color);
}

/* --- навігація --- */

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.top-nav {
    
}

.nav-studio {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

.nav-portfolio {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

.nav-contact {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
    }


    .nav-studio:hover,
    .nav-portfolio:hover,
    .nav-contact:hover,
    .nav-studio:focus,
    .nav-portfolio:focus,
    .nav-contact:focus
{
    color: var(--accent-color);
}

/* --- контакти --- */

.top-auth {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

        list-style: none;
    }

.auth-mail {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color:var(--title-text-color)

    }

.auth-tel {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color:var(--title-text-color)

}

.auth-mail:hover, .auth-tel:hover,
.auth-mail:focus, .auth-tel:focus
{
    color: var(--accent-color);
}

/* --- герой --- */

.hero {
    text-align: center;
}

.hero-title {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    color: var(--hero-text-color);

    text-transform: uppercase;
    margin-bottom: 30px;

}

.button {

    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    color: var(--hero-text-color);
    background: var(--accent-background-color);

    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    text-align: center;
    border: 1px solid transparent;


    cursor: pointer;

}

.button:hover, .button:focus {

    background: var(--accent-background-color);
}

/* --- секції --- */

.section {
    
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.centered {
    text-align: center;
}
.item {
    margin-bottom: 10px;
}

/* --- наші переваги --- */

.features {

    list-style: none;


}

.features-title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--primary-text-color);

    margin-bottom: 10px;
}

/* --- чим займаємось --- */

.work-list {

    list-style: none;
}
/* --- наша команда --- */

.our-team {
    background: var(--background-button-color);
}

.team {

    list-style: none;
}

.team-item {
    background: #FFFFFF;
    padding-bottom: 30px;
    width: 270px;
    text-align: center;
}



.team-title {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);

    margin-top: 30px;
    
}

/* --- footer --- */


.bottom {
    background: var(--background-footer);
}

.logo-bottom {

    color: var(--hero-text-color);

}

.logo-bottom:hover, .logo-bottom:focus 
{
    color: var(--accent-color);
}

.bottom-ddress {
    font-style: normal;
}


.bottom-list {

    list-style: none;

}

.bottom-adress {
    color: var(--hero-text-color);
}

.bottom-adress:hover, .bottom-adress:focus 
{
    color: var(--accent-color);
}

.bottom-mail {
    color: var(--post-tel-color);
}

.bottom-mail:hover, .bottom-mail:focus 
{
    color: var(--accent-color);
}


.bottom-tel {
    color: var(--post-tel-color);
}

.bottom-tel:hover, .bottom-tel:focus 
{
    color: var(--accent-color);
}

/* !--- поротфоліо --- інша сторінка --- */

.btn-links {

}

.btn-list {
    list-style: none;
}

.btn-link {


    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color);
    background: var(--background-button-color);

    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    text-align: center;
    border: 1px solid transparent;
}

.btn-link:hover, .btn-link:focus
{
    color: var(--hero-text-color);
    background: var(--accent-background-color);
    padding: 6px 25px;
}

/* --- галерея --- */

.gallery {

}

.gallery-list {
    list-style: none;
}

.gallery-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;

    color: var(--primary-text-color);
}